html {
  font: 100%/1.8 'Helvetica', 'Arial', sans;
}

body {
  background: #FFFFF2;
  color: #444;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

a {
  color: #DE6449;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
