//////////////////////////////
// Download Section
//////////////////////////////

.download_section {

  &-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}
