//////////////////////////////
// Header
//////////////////////////////

.header {
  padding: bs() 0;
  margin-bottom: bs(2);

  &-heading {
    line-height: 1;
    margin-bottom: bs(.5);

    &-link {
      display: inline-block;
    }
  }

  &-subheading {
    margin-bottom: 0;
  }
}
