//////////////////////////////
// Visual
//////////////////////////////

.display {
  font-family: $f-headings;
  margin-bottom: bs(2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &-wrap {
    position: relative;
  }

  &-blank_space {
    height: 640px;

    @include bp(bravo) {
      height: 550px;
    }
  }
}

.visual {
  display: none;

  @include bp(bravo) {
    display: block;
  }

  .legend {

    &-interest {

      &-heading {
        font-weight: bold;
      }
    }
  }
}

.axis-group {

  path {
    fill: none;
    stroke: black;
  }

  line {
    stroke: black;
  }
}
