//////////////////////////////
// Elements
//////////////////////////////

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $f-raleway;
  font-size: 100%;
}

body {
  background: $c-white;
  color: $c-black;
}

a {
  color: $c-red;
  text-decoration: none;
  position: relative;
  transition: color .3s ease;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: $c-red;
    transition: width .3s ease,
                background .3s ease;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &:hover {
    color: darken($c-red, 4%);

    &:after {
      width: 100%;
      background: darken($c-red, 4%);
    }
  }

  .footer & {
    $c-lighter-red: lighten($c-red, 10%);
    color: $c-lighter-red;

    &:after {
      background: $c-lighter-red;
    }

    &:hover {
      color: darken($c-lighter-red, 4%);

      &:after {
        background: darken($c-lighter-red, 4%);
      }
    }
  }
}
