//////////////////////////////
// Mixins
//////////////////////////////

@mixin bp($breakpoint, $map: $breakpoints) {
  $value: map-get($map, $breakpoint);

  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value with the name #{$breakpoint} could be retrieved from `$breakpoints`. Please make sure it is defined in `$breakpoints` map.';
  }
}

// Clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
