//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
$breakpoints: (
  'alpha': 768px
);

// Shevy Map
$shevy: (
  base-font-size: 16px,
  base-line-height: 1.8,
  base-font-scale: (2, 1.5, 1.35, 1.25, 1.15, 1)
);

// Colors
$c-black: hsl(10, 100%, 2%);
$c-dark-gray: hsl(0, 0%, 17%);
$c-white: hsl(0, 0%, 97%);
$c-red: #a7352f;

// Font Stacks
$f-sans: 'Helvetica', 'Arial', sans-serif;
$f-monty: 'Montserrat', $f-sans;
$f-raleway: 'Raleway', $f-sans;
