//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
$breakpoints: (
  'alpha': 600px,
  'bravo': 1025px,
  'charlie': 1350px
);

// Shevy Map
$shevy: (
  base-font-size: 1rem,
  base-line-height: 1.8,
  base-font-scale: (2, 1.5, 1.35, 1.25, 1.15, 1)
);

// Colors
$c-black: #0a0200;
$c-dark-gray: #2b2b2b;
$c-white: #f7f7f7;
$c-red: #cf332a;
$c-dark-red: darken($c-red, 30%);

// Font Stacks
$f-sans: 'Helvetica', 'Arial', sans-serif;
$f-monty: 'Montserrat', $f-sans;
$f-raleway: 'Raleway', $f-sans;
