//////////////////////////////
// Footer
//////////////////////////////

.footer {
  background: $c-dark-gray;
  color: $c-white;
  padding: bs(2) 0;

  section {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
