*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

body {
  background: #f7f7f7;
  color: #0a0200;
}

a {
  color: #cf332a;
  text-decoration: none;
  position: relative;
  transition: color .3s ease;
}
a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #cf332a;
  transition: width .3s ease, background .3s ease;
  position: absolute;
  top: 100%;
  left: 0;
}
a:hover {
  color: #be2f27;
}
a:hover:after {
  width: 100%;
  background: #be2f27;
}
.footer a {
  color: #dc5850;
}
.footer a:after {
  background: #dc5850;
}
.footer a:hover {
  color: #d8483f;
}
.footer a:hover:after {
  background: #d8483f;
}

svg {
  font-size: .75rem;
}

h1 {
  font-size: 32px;
  line-height: 43.2px;
  margin-bottom: 28.8px;
}

h2 {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

h3 {
  font-size: 21.6px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

h4 {
  font-size: 20px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

h5 {
  font-size: 18.4px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

h6 {
  font-size: 16px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

p {
  font-size: 16px;
  line-height: 28.8px;
  margin-bottom: 28.8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .container {
    width: 75%;
  }
}

.header {
  margin: 28.8px 0;
}

.footer {
  background: #2b2b2b;
  color: #f7f7f7;
  padding: 57.6px 0;
}

.visual {
  display: none;
}
@media (min-width: 1025px) {
  .visual {
    display: block;
    margin-bottom: 57.6px;
  }
}
.visual .legend-interest-heading {
  font-weight: bold;
}

.axis-group path {
  fill: none;
  stroke: black;
}
.axis-group line {
  stroke: black;
}

.tablet_visual {
  display: block;
}
.tablet_visual-wrap {
  display: none;
  margin-bottom: 57.6px;
}
@media (min-width: 600px) {
  .tablet_visual-wrap {
    display: block;
  }
}
@media (min-width: 1025px) {
  .tablet_visual-wrap {
    display: none;
  }
}
.tablet_visual-wrap form {
  width: 500px;
  font-size: 75%;
  padding: 0 5px;
}
.tablet_visual-wrap .input {
  text-align: right;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.tablet_visual-wrap .input input {
  margin-left: 5px;
}
.tablet_visual-wrap .legend-svg {
  display: block;
  margin-left: 5px;
}
.tablet_visual-wrap .legend-interest-heading {
  font-weight: bold;
}

.mobile_visual {
  display: block;
}
.mobile_visual-wrap {
  display: block;
  margin-bottom: 57.6px;
}
@media (min-width: 600px) {
  .mobile_visual-wrap {
    display: none;
  }
}
.mobile_visual-wrap form {
  width: 280px;
  font-size: 75%;
  padding: 0 5px;
}
.mobile_visual-wrap .input {
  text-align: right;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.mobile_visual-wrap .input input {
  margin-left: 5px;
}
.mobile_visual-wrap .legend-svg {
  display: block;
  margin-left: 5px;
}
.mobile_visual-wrap .legend-interest-heading {
  font-weight: bold;
}
.mobile_visual .rect-group {
  font-size: 85%;
}

.node,
.rect {
  opacity: .85;
  transition: all .3s ease;
}
.is-active .node, .is-active
.rect {
  opacity: .15;
}
.is-active .node.is-active, .is-active
.rect.is-active {
  opacity: 1;
}
.node-circle,
.rect-circle {
  transition: all .3s ease;
}
.node-label,
.rect-label {
  fill: white;
}

.repo-item {
  margin-bottom: 57.6px;
}

/*# sourceMappingURL=application.css.map */
