*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.6;
}

body {
  --background: #fff;
  --text: #000;
  --accent: tomato;
  --offset: #f1f1f1;

  margin: 0;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

body.dark {
  --background: #171717;
  --text: #fff;
  --offset: #282828;
}

a {
  color: var(--accent);
}

code {
  background-color: var(--offset);
  display: inline-block;
  font-size: 1rem;
  padding-inline: 0.25rem;
}

hr {
  background-color: #ccc;
  border: none;
  height: 1px;
}

h3 {
  margin-top: 2em;
}
