//////////////////////////////
// Download Button
//////////////////////////////

.download_button {
  background-color: $c-brand;
  color: $c-white;
  font-size: .85rem;
  padding: bs(.5) bs(.75);
  border-radius: 4px;
  transition: background-color .3s ease;

  &:hover {
    background-color: $c-dark-brand;
    color: $c-white;

    &:after {
      content: none;
    }
  }

  &-wrap {
    display: inline-block;
    vertical-align: middle;
  }
}
