//////////////////////////////
// Repos
//////////////////////////////

.repos {
  margin-bottom: bs(3);
}

.repo-item {
  margin-bottom: bs();

  &-heading,
  &-content {
    margin-bottom: 0;
  }
}
