//////////////////////////////
// Sites
//////////////////////////////

.sites {}

.site-item {
  margin-bottom: bs();

  &-heading {
    display: inline-block;
    margin-bottom: 0;

    &-link,
    &-span {

      .is-coming-soon & {
        color: $c-light-gray;
      }
    }
  }
}
