<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Catamaran:100,400,700' rel='stylesheet' type='text/css'>
  <meta name="description" content="Kyle Shevlin is a front end JavaScript Engineer with full stack skills from Portland, Oregon. He loves React, Redux, Webpack, RxJS, JavaScript, and Sass. Feel free to contact him regarding opportunities" />
  <meta name="keywords" content="React, Redux, Webpack, RxJS, JavaScript, Sass, web development, software engineer" />
</head>
<body>
  <div id="app"></div>
</body>
</html>
